<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Título de tu página</title>
    <link rel="stylesheet" href="notes_styles.css">
</head>

<body>
    <h2>Crear Nota</h2>
    <form action="/notes/index/create_note" method="post">
        <label for="idE">Nombre:</label>
        <input type="idEstudiante" id="idE" name="idEstudiante"><br><br>
        
        <label for="nota">Email:</label>
        <input type="notaEstudiante" id="nota" name="notaEstudiante"><br><br>
        
        <input type="submit" value="Enviar">
    </form>

    <div id="res" class="out">
</body>

</html>

